* {
  box-sizing: border-box;
}

:root {
  --visible-color: rgb(44, 22, 167);
  --visible-color-with-opacity: rgb(44, 22, 167, 0);
  --button-size: 5vmin;
}

html {
  direction: ltr;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 50vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  all: unset;
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--visible-color-with-opacity);
  border-radius: 50%;
  outline: 0.3vmin solid black;
  outline-offset: 1.2vmin;
  box-shadow: 0 0 0 1.3vmin white,
    0 0 0.5vmin 1.6vmin var(--visible-color-with-opacity);
  transition: background-color 0.1s ease, box-shadow 0.15s ease;
}

.buttons:focus {
  background-color: var(--visible-color);
  box-shadow: 0 0 0 1.3vmin white, 0 0 0.5vmin 1.6vmin var(--visible-color);
}

.buttons:checked {
  background-color: var(--visible-color);
}
